.createprofile {
    position: relative;  
    left: 50px;
    font-family: Nunito Sans; /* Body */
    font-size: 32px; 
    line-height: 48px; 
    color: #008000; /* neutral-900 */
  }
  /* Text 17160 */
.text17160 {
    position: relative; 
    top: 18px; 
    left: 65px;
    font-family: Nunito Sans; /* Body */
    font-size: 32px; 
    line-height: 48px; 
    color: #171A1FFF; /* neutral-900 */
  }
/* Image 2345 */
.image2345_1 {
    position: relative; 
    top: 30px; 
    left: 90px; 
    width: 199px; 
    height: 195px; 
    border-radius: 98px; 
  }
/* Container 5339 */
.container5339_1 {
  position: absolute; 
  top: 75px; 
  left: 50px; 
  width: 400px; 
  height: 920px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; /* border-l */
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; /* shadow-m */
}
  .avatar1 {
    margin-left: 1em;
  }

  /* Textbox 711 */
.namebox1 {
  position: absolute; 
  top: 321px; 
  left: 61px; 
  opacity: 1; 
}
.namebox1 input {
  width: 250px; 
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-width: 0px; 
  outline: none; 
}
.namebox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.namebox1 input:hover {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.namebox1 input:focused {
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.namebox1 input:disabled {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
.namebox1 :disabled + .icon, .namebox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}
/* Textbox 711 */
.phonebox1 {
  position: absolute; 
  top: 417px; 
  left: 61px; 
  opacity: 1; 
}
.phonebox1 input {
  width: 250px;  
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-width: 0px; 
  outline: none; 
}
.phonebox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.phonebox1 input:hover {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.phonebox1 input:focused {
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.phonebox1 input:disabled {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
.phonebox1 :disabled + .icon, .phonebox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}
/* Textbox 711 */
.emailbox1 {
  position: absolute; 
  top: 506px; 
  left: 61px; 
  opacity: 1; 
}
.emailbox1 input {
  width: 250px;  
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-width: 0px; 
  outline: none; 
}
.emailbox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.emailbox1 input:hover {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.emailbox1 input:focused {
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.emailbox1 input:disabled {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
.emailbox1 :disabled + .icon, .emailbox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}
/* Textbox 711 */
.BDbox1 {
  position: absolute; 
  top: 598px; 
  left: 61px; 
  opacity: 1; 
}
.BDbox1 input {
  width: 250px;  
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F7F7F7FF; 
  border-width: 0px; 
  outline: none; 
}
.BDbox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.BDbox1 input:hover {
  color: #000000FF; /* black */
  background: #F7F7F7FF; 
}
/* focused */
.BDbox1 input:focused {
  color: #424856FF; /* neutral-650 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.BDbox1 input:disabled {
  color: #000000FF; /* black */
  background: #F7F7F7FF; 
}
.BDbox1 :disabled + .icon, .BDbox :disabled + .icon + .icon {
  fill: #000000FF; /* black */
}
/* Textbox 712 */
.Pbox1 {
  position: absolute; 
  top: 685px; 
  left: 61px; 
  opacity: 1; 
}
.Pbox1 input {
  width: 250px;  
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-width: 0px; 
  outline: none; 
}
.Pbox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.Pbox1 input:hover {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.Pbox1 input:focused {
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.Pbox1 input:disabled {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
.Pbox1 :disabled + .icon, .Pbox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}
/* Textbox 714 */
.Addressbox1 {
  position: absolute; 
  top: 772px; 
  left: 61px; 
  opacity: 1; 
}
.Addressbox1 input {
  width: 250px;  
  height: 52px; 
  padding-left: 24px; 
  padding-right: 24px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  background: #F3F4F6FF; /* neutral-200 */
  border-width: 0px; 
  outline: none; 
}
.Addressbox1 .label {
  font-size: 18px; 
  line-height: 28px; 
}
/* hover */
.Addressbox1 input:hover {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
/* focused */
.Addressbox1 input:focused {
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
}
/* disabled */
.Addressbox1 input:disabled {
  color: #171A1FFF; /* neutral-900 */
  background: #F3F4F6FF; /* neutral-200 */
}
.Addressbox1 :disabled + .icon, .Addressbox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}
/* Button 2593 */
.resetbutton_1 {
  position: absolute; 
  top: 850px; 
  left: 134px; 
  height: 52px; 
  padding: 0 24px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  color: #008000; /* primary-500 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
}
/* Hover */
.resetbutton_1:hover {
  color: #008000; /* primary-500 */
  background: #FBE6D7FF; /* primary-150 */
}
/* Pressed */
.resetbutton_1:hover:active {
  color: #008000; /* primary-500 */
  background: #F9D6BEFF; /* primary-200 */
}
/* Disabled */
.resetbutton_1:disabled {
  opacity: 0.4; 
}
/* Button 2549 */
.savebutton_1 {
  position: absolute; 
  top: 850px; 
  left: 220px; 
  height: 52px; 
  padding: 0 24px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  color: #FFFFFFFF; /* white */
  background: #008000; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
}
/* Hover */
.savebutton_1:hover {
  color: #FFFFFFFF; /* white */
  background: #008000; /* primary-600 */
}
/* Pressed */
.savebutton_1:hover:active {
  color: #FFFFFFFF; /* white */
  background: #008000; /* primary-650 */
}
/* Disabled */
.savebutton_1:disabled {
  opacity: 0.4; 
}

/* Container 5340 */
.container5340 {
  position: absolute; 
  top: 75px; 
  left: 600px; 
  width: 400px; 
  height: 900px;  
  background: #FFFFFFFF; /* white */
  border-radius: 0px; 
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
}
/* Textbox 724 */
.searchbox {
  position: absolute; 
  top: 19px; 
  left: 12px; 
  opacity: 1; 
}
.searchbox input {
  width: 211px; 
  height: 36px; 
  padding-left: 14px; 
  padding-right: 38px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  background: #FFFFFFFF; /* white */
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px; 
  border-width: 0px; 
  box-shadow: 0 1px 0 #9095a1; 
  outline: none; 
}
.searchbox svg {
  position: absolute; 
  top: 14px; 
  right: 20px; 
  width: 16px; 
  height: 16px; 
  fill: #9095A1FF; /* neutral-500 */
}
/* hover */
.searchbox input:hover {
  color: #BDC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  box-shadow: 0 1px 0 #9095a1; 
}
/* focused */
.searchbox input:focused {
  color: #BDC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  box-shadow: 0 1px 0 #9095a1; 
}
/* disabled */
.searchbox input:disabled {
  color: #BDC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  box-shadow: 0 1px 0 #9095a1; 
}
.searchbox :disabled + .icon, .searchbox :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}

/* Button 2592 */
.button2592 {
  position: absolute; 
  top: 19px; 
  left: 325px; 
  height: 36px; 
  padding: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #008000; /* primary-500 */
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  /* border: 1px solid #EB7623FF [object Object];  */
  border: 1px solid #008000;
  border-radius: 100%; 
  gap: 8px; 
}
.button2592 .icon {
  width: 16px; 
  height: 16px; 
  fill: #008000; /* primary-500 */
}
/* Hover */
.button2592:hover {
  color: #008000; /* primary-600 */
  background: #FFFFFFFF; /* white */
}
/* Pressed */
.button2592:hover:active {
  color: #008000; /* primary-650 */
  background: #FFFFFFFF; /* white */
}
/* Disabled */
.button2592:disabled {
  opacity: 0.4; 
}
/* Text 17159 */
.list_e {
  position: absolute; 
  top: 60px; 
  left: 27px; 
  font-family: Poppins; /* Heading */
  font-size: 24px; 
  line-height: 22px; 
  color: #008000; /* tertiary4-500 */
}
.otherprofile {
  position: relative; 
  left: 600px;
  bottom: 67px;
  font-family: Nunito Sans; /* Body */
  font-size: 32px; 
  line-height: 48px; 
  color: #008000; /* neutral-900 */
}
.profiles-list {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 220px;
  height: 270px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.profiles-list ul a {
  display: block;
  line-height: 65px;
  font-size: 25px;
  width: 300px;
  margin-left: -50px;
  padding-left: 0px;
  color: #008000;
}

.profiles-list ul a i {
  margin-right: 10px;
}

.profiles-list ul a.selected {
  color: white;
  background-color: #008000;
  padding-right: 5px;
}

.profiles-list ul a.not-selected {
  color: #008000;
}

.profiles-list ul li:hover a {
  color: white;
  background-color: #008000;
  padding-right: 5px;
}
/* Image 2346 */
.o-avatar {
  position: relative;
  margin: 10px 0 0 45px;
  top: 8px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.text13838 {
  position: absolute;
  top: 150px;
  left: 55px;
  font-family: Arial, Helvetica, sans-serif;
  /* Body */
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #008000;
  /* neutral-700 */
}

/* Text 17159 */
.text17159 {
  position: absolute; 
  top: 870px; 
  left: 15px; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  line-height: 22px; 
  color: #171A1FFF; /* neutral-900 */
}

/* Button 2545 */
.lbutton {
  position: absolute; 
  top: 866px; 
  left: 283px; 
  height: 34px; 
  padding: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 18px; 
  color: #424856FF; /* neutral-650 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
  gap: 8px; 
}
.lbutton .icon {
  width: 16px; 
  height: 16px; 
  fill: #424856FF; /* neutral-650 */
}
/* Hover */
.lbutton:hover {
  color: #424856FF; /* neutral-650 */
  background: #EAECF0FF; /* neutral-250 */
}
/* Pressed */
.lbutton:hover:active {
  color: #424856FF; /* neutral-650 */
  background: #DEE1E6FF; /* neutral-300 */
}
/* Disabled */
.lbutton:disabled {
  opacity: 0.4; 
}

/* Button 2545 */
.rbutton {
  position: absolute; 
  top: 866px; 
  left: 339px; 
  height: 34px; 
  padding: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 18px;
  color: #424856FF; /* neutral-650 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
  gap: 8px; 
}
.rbutton .icon {
  width: 16px; 
  height: 16px; 
  fill: #424856FF; /* neutral-650 */
}
/* Hover */
.rbutton:hover {
  color: #424856FF; /* neutral-650 */
  background: #EAECF0FF; /* neutral-250 */
}
/* Pressed */
.rbutton:hover:active {
  color: #424856FF; /* neutral-650 */
  background: #DEE1E6FF; /* neutral-300 */
}
/* Disabled */
.rbutton:disabled {
  opacity: 0.4; 
}

/* Button 2548 */
.my-profile-button {
  position: absolute; 
  top: 1000px; 
  left: 600px; 
  width: 200px; 
  height: 51px; 
  padding: 0 24px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  color: #008000; /* danger-500 */
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border: 1px solid #008000; 
  border-radius: 6px; /* border-m */
  gap: 10px; 
}
.my-profile-button .icon {
  width: 24px; 
  height: 24px; 
  fill: #008000; /* danger-500 */
}
/* Hover */
.my-profile-button:hover {
  color: #008000; /* danger-600 */
  background: #FFFFFFFF; /* white */
}
/* Pressed */
.my-profile-button:hover:active {
  color: #008000; /* danger-650 */
  background: #FFFFFFFF; /* white */
}
/* Disabled */
.my-profile-button:disabled {
  opacity: 0.4; 
}