* {
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url("../image/background.jpg");
}

/* Container 5265 */
.container5265 {
    position: absolute;
    top: 0px;
    left: 250px;
    width: 280px;
    height: 969px;
    background: #DEE1E6FF;
}

/* Image 2342 */
.image {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}

/* Sidebar menu 50 */
.sidebar-menu {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 220px;
    height: 270px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-menu ul a {
    display: block;
    line-height: 65px;
    font-size: 15px;
    width: 210px;
    margin-left: -50px;
    padding-left: 65px;
    color: #008000;
}

.sidebar-menu ul a i {
    margin-right: 10px;
}

.sidebar-menu ul a.selected {
    color: white;
    background-color: #008000;
    padding-right: 5px;
}

.sidebar-menu ul a.not-selected {
    color: #008000;
}

.sidebar-menu ul li:hover a {
    color: white;
    background-color: #008000;
    padding-right: 5px;
}

/* Container 5266 */
.container5266 {
    position: absolute;
    top: 620px;
    left: 35px;
    width: 204px;
    height: 300px;
    background: #F2F5FDFF;
    border-radius: 25px;
}

/* Image 2341 */
.image2341 {
    position: absolute;
    top: 15px;
    left: 27px;
    width: 150px;
    height: 152px;
    border-radius: 0px;
}

/* Text 16916 */
.text16916 {
    position: absolute;
    top: 170px;
    left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #008000;
}

/* Button 2443 */
.button2443 {
    position: absolute;
    top: 235px;
    left: 18px;
    width: 168px;
    height: 36px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: 1px solid #008000;
    color: #008000;
}

/* Hover */
.button2443:hover {
    color: #DEE1E6FF;
    background: #008000;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: absolute;
    top: 0px;
    left: 530px;
    width: 1140px;
    height: 969px;
    background-color: #f0f2f5;
}

h1 i {
    margin-right: 15px;
}

a i {
    margin-right: 5px;
}

.menu {
    position: absolute;
    right: 100px;
    width: 150px;
    height: 100px;
}

/* Text 16918 */
.text16918 {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 335px;
    height: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 68px;
}

/* Text 16918 */
.text16919 {
    position: absolute;
    display: block;
    top: 35px;
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    border: none;
    background-color: #008000;
    color: white;
    cursor: pointer;
}

.bt1,
.bt2 {
    position: absolute;
    display: block;
    width: 140px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    background-color: #008000;
    color: white;
    display: none;
    border: 1px solid white;
}

.bt1:hover,
.bt2:hover {
    background-color: white;
    color: #008000;
    border: 0.5px solid #008000;
    border-top: none;
}

.bt1 {
    position: absolute;
    top: 65px;
}

.bt2 {
    position: absolute;
    top: 100px;
    border-radius: 0 0 10px 10px;
}

.menu:hover .bt1 {
    display: block;
}

.menu:hover .bt2 {
    display: block;
}

.show {
    display: inline;
}

.not-show {
    display: none;
}

/* Button 2562 */
.sign-out {
    position: absolute;
    top: 62px;
    right: 80px;
    height: 10px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #008000;
    background-color: white;
    border: none;
    border-radius: 25px;
}

.header {
    margin-top: 55px;
    width: 1140px;
    height: 100px;
    background-color: #008000;
    color: white;
}

/* Container 5351 */
.container5351 {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 1020px;
    height: 740px;
    background: #FFFFFFFF;
    border-radius: 10px;
    border: 1px solid #DEE1E6FF;
}

.item {
    position: absolute;
    display: none;
}