* {
    margin: 0;
    padding: 0;
}

.header-mess {
    height: 80px;
}

.header-mess .col-sm-3 {
    background-color: #DEE1E6FF;
}

.header-mess .col-sm-3:first-child {
    background-color: #f0f2f5;
}

.avatar {
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.header-mess .col-sm-3 h4 {
    line-height: 3;
}

.col-sm-3 input {
    width: 170px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.col-sm-3 input:focus,
.phone:focus,
.trash:focus,
.inputchat input:focus,
.sent:focus {
    outline: none;
}

.phone {
    margin: 20px 25px 0 0;
    height: 40px;
    color: green;
    padding: 5px 0 0 10px;
    border: 1px solid green;
    border-radius: 25px;
}

.phone:hover {
    color: white;
    background-color: green;
}

.trash:hover {
    color: white;
    background-color: red;
}

.trash {
    margin: 20px 25px 0 0;
    height: 40px;
    border: none;
    color: red;
    padding: 3px 0 0 10px;
    border: 1px solid red;
    border-radius: 25px;
}

.main-mess {
    height: 600px;
}

.list1 {
    cursor: pointer;
    border-right: 1px solid gray;
}

.list {
    margin-left: 20px;
    line-height: 3.5;
    height: 60px;
    border-bottom: 1px solid gray;
}

.chatt h5 {
    width: auto;
}

.chat {
    padding-top: 3px;
    margin-top: 30px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid green;
    border-radius: 25px;
    color: white;
    background-color: green;
}

.avatar1 {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.boxchat {
    background-color: white;
    height: 550px;
}

.inputchat {
    height: 80px;
}

.inputchat input {
    cursor: default;
    color: black;
    background-color: #DEE1E6FF;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 360px;
}

::placeholder {
    color: black;
}

.icon-mess {
    text-align: center;
    line-height: 4;
    color: green;
    padding: 15px;
}

.icon-mess i:hover {
    font-size: 20px;
    font-weight: 600;
    border: 1px hidden green;
    border-radius: 25px;
}

.sent {
    padding: 35px 0 0 30px;
    border: none;
    color: green;
}

.sent i {
    font-size: 25px;
}