.search {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 50px;
    border: 2px solid #dedede;
    border-radius: 25px;
}

.text709 {
    width: 220px;
    height: 40px;
    border: none;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.text709:focus {
    border: none;
}

.bt_s {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 60px;
    height: 54px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #008000;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

/* Container 5287 */
.chatlist {
    position: relative;
    display: block;
    width: 320px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #dedede;
    border-right: 2px solid #dedede;
}

.chatlist:hover {
    background-color: #dedede;
}

.user-img {
    margin: 10px 0 0 45px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.user-chat {
    position: absolute;
    top: 6px;
    left: 120px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-img {
    margin: 20px 0 0 45px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.header-user {
    position: absolute;
    top: 10px;
    left: 130px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.phone {
    position: absolute;
    top: 25px;
    right: 130px;
    font-size: 20px;
    color: #008000;
    border: 1px solid #008000;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
}

.phone:hover {
    background-color: #008000;
    color: white;
}

.delete {
    position: absolute;
    top: 25px;
    right: 70px;
    font-size: 20px;
    color: red;
    border: 1px solid red;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
}

.delete:hover {
    background-color: red;
    color: white;
}

.header-chat {
    position: absolute;
    width: 700px;
    height: 80px;
    background-color: #dedede;
    top: 90px;
    left: 320px;
}

/* Container 5281 */
.container5281 {
    position: absolute; 
    top: 420px; 
    left: 321px; 
    width: 691px; 
    height: 91px; 
    background: #FFFFFFFF; /* white */
    border-radius: 0px; 
    border-width: 1px; 
    border-color: #BDC1CAFF; /* neutral-400 */
    border-style: solid; 
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; /* shadow-m */
  }
/* Button 2454 */
.addbutton {
    position: absolute; 
    top: 24px; 
    left: 5px; 
    height: 52px; 
    padding: 0 14px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #EB7623FF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    gap: 10px; 
  }
  .addbutton .icon {
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* Hover */
  .addbutton:hover {
    color: #EB7623FF; /* primary-500 */
    background: #FBE6D7FF; /* primary-150 */
  }
  /* Pressed */
  .addbutton:hover:active {
    color: #EB7623FF; /* primary-500 */
    background: #F9D6BEFF; /* primary-200 */
  }
  /* Disabled */
  .addbutton:disabled {
    opacity: 0.4; 
  }
/* Button 2454 */
.pbutton {
    position: absolute; 
    top: 24px; 
    left: 70px; 
    height: 52px; 
    padding: 0 14px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #EB7623FF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    gap: 10px; 
  }
  .pbutton .icon {
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* Hover */
  .pbutton:hover {
    color: #EB7623FF; /* primary-500 */
    background: #FBE6D7FF; /* primary-150 */
  }
  /* Pressed */
  .pbutton:hover:active {
    color: #EB7623FF; /* primary-500 */
    background: #F9D6BEFF; /* primary-200 */
  }
  /* Disabled */
  .pbutton:disabled {
    opacity: 0.4; 
  }
/* Button 2454 */
.kbutton {
    position: absolute; 
    top: 24px; 
    left: 139px; 
    height: 52px; 
    padding: 0 14px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #EB7623FF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    gap: 10px; 
  }
  .kbutton .icon {
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* Hover */
  .kbutton:hover {
    color: #EB7623FF; /* primary-500 */
    background: #FBE6D7FF; /* primary-150 */
  }
  /* Pressed */
  .kbutton:hover:active {
    color: #EB7623FF; /* primary-500 */
    background: #F9D6BEFF; /* primary-200 */
  }
  /* Disabled */
  .kbutton:disabled {
    opacity: 0.4; 
  }
/* Textbox 708 */
.textchatbox {
    position: absolute; 
    top: 24px; 
    left: 196px; 
    opacity: 1; 
  }
  .textchatbox input {
    width: 380px; 
    height: 52px; 
    padding-left: 24px; 
    padding-right: 58px; 
    font-family: Nunito Sans; /* Body */
    font-size: 18px; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 26px; 
    border-width: 0px; 
    outline: none; 
  }
  .textchatbox svg {
    position: absolute; 
    top: 24px; 
    right: 24px; 
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* hover */
  .textchatbox input:hover {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
  }
  /* focused */
  .textchatbox input:focused {
    color: #BDC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
  }
  /* disabled */
  .textchatbox input:disabled {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
  }
  .textchatbox :disabled + .icon, .textchatbox :disabled + .icon + .icon {
    fill: #171A1FFF; /* neutral-900 */
  }
  .emobutton {
    position: absolute; 
    bottom: 10px; 
    left: 400px; 
    height: 52px; 
    padding: 0 14px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #EB7623FF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    gap: 10px; 
  }
  .emobutton .icon {
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* Hover */
  .emobutton:hover {
    color: #EB7623FF; /* primary-500 */
    background: #FBE6D7FF; /* primary-150 */
  }
  /* Pressed */
  .emobutton:hover:active {
    color: #EB7623FF; /* primary-500 */
    background: #F9D6BEFF; /* primary-200 */
  }
  /* Disabled */
  .emobutton:disabled {
    opacity: 0.4; 
  }

/* Button 2454 */
.sentbutton {
    position: absolute; 
    top: 28px; 
    left: 632px; 
    height: 52px; 
    padding: 0 14px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #EB7623FF; /* primary-500 */
    background: #00000000; /* transparent */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
    gap: 10px; 
  }
  .sentbutton .icon {
    width: 24px; 
    height: 24px; 
    fill: #EB7623FF; /* primary-500 */
  }
  /* Hover */
  .sentbutton:hover {
    color: #EB7623FF; /* primary-500 */
    background: #FBE6D7FF; /* primary-150 */
  }
  /* Pressed */
  .sentbutton:hover:active {
    color: #EB7623FF; /* primary-500 */
    background: #F9D6BEFF; /* primary-200 */
  }
  /* Disabled */
  .sentbutton:disabled {
    opacity: 0.4; 
  }