/* Image 2342 */
.image1{
    position: absolute;
    top: 30px;
    left: 40px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}

/* Button 2443 */
.button2443 {
    position: absolute;
    top: 235px;
    left: 18px;
    width: 168px;
    height: 36px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: 1px solid #008000;
    color: #008000;
}

/* Hover */
.button2443:hover {
    color: #DEE1E6FF;
    background: #008000;
    font-family: Arial, Helvetica, sans-serif;
}


/* Text 16918 */
.text16918_1 {
    position: absolute;
    top: 25px;
    left: 80px;
    width: 335px;
    height: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 68px;
    color: #008000;
}

/* Container 5351 */
.container5351 {
    position: absolute;
    top: 220px;
    left: 80px;
    width: 980px;
    height: 700px;
    background: #FFFFFFFF;
    border-radius: 15px;
    box-shadow: 3px 6px #008000;
    border: 2px solid #008000;
}

.date_time {
    position: absolute;
    top: 25px;
    left: 700px;
    /* right: 80px; */
    width: 350px;
    height: 144px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 68px;
    color: #008000;
}

.time {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    margin: 15px 0 -20px 0;
}

.date {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.textbox {
    position: absolute; 
    top: 118px; 
    left: 30px; 
    opacity: 1; 
  }
  .textbox input {
    width: 300px; 
    height: 52px; 
    padding-left: 24px; 
    padding-right: 24px; 
    font-family: Nunito Sans; /* Body */
    font-size: 18px; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 6px; /* border-m */
    border-width: 0px; 
    outline: none; 
  }
  .textbox .label {
    font-size: 18px; 
    line-height: 28px; 
  }
  .text_{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 30px;
    color: #da9c16;

  }
  /* hover */
  .textbox input:hover {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
  }
  /* focused */
  .textbox input:focused {
    color: #BDC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
  }
  /* disabled */
  .textbox input:disabled {
    color: #BDC1CAFF; /* neutral-400 */
    background: #F3F4F6FF; /* neutral-200 */
  }
  .textbox :disabled + .icon, .textbox :disabled + .icon + .icon {
    fill: #171A1FFF; /* neutral-900 */
  }

  /*process */
  body, html {
    height: 100%;
}

#q-graph {
    display: block;
   /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 600px;
    height: 300px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;
}
#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}
#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 150px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}
#q-graph td {
    transition: all 0.3s ease;
}
#q-graph td:hover {
    background-color: #4d4d4d;
    opacity: 0.9;
    color: white;
}
#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;
}
#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}
#q-graph thead th.sent {
    top: 0;
    left: 0;
    line-height: 2;
}
#q-graph thead th.paid {
    top: 2.75em;
    line-height: 2;
    left: 0;
}
#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #c4c4c4;
    color: #aaa;
}
#q-graph #q1 {
    left: 0;
}
#q-graph #q2 {
    left: 150px;
}
#q-graph #q3 {
    left: 300px;
}
#q-graph #q4 {
    left: 450px;
    border-right: none;
}
#q-graph tbody th {
    bottom: -1.75em;
    vertical-align: top;
    font-weight: normal;
    color: #333;
}
#q-graph .bar {
    width: 60px;
    border: 1px solid;
    border-bottom: none;
    color: #000;
}
#q-graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    opacity: 0.4;
}
#q-graph .sent {
    left: 13px;
    background-color: #da9c16;
    border-color: transparent;
}
#q-graph .paid {
    left: 77px;
    background-color: #7fdbff;
    border-color: transparent;
}
#ticks {
    position: relative;
    top: -300px;
    left: 2px;
    width: 596px;
    height: 300px;
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
}
#ticks .tick {
    position: relative;
    border-bottom: 1px dotted #c4c4c4;
    width: 600px;
}
#ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
}
.pright{
    float: right;
}


.button_ {
    position: absolute; 
    top: 600px; 
    left: 837px; 
    height: 52px; 
    padding: 0 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Nunito Sans; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    color: #FFFFFFFF; /* white */
    background: #EB7623FF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
  }
  .button_1 {
    position: absolute; 
    top: 600px; 
    left: 737px; 
    height: 52px; 
    padding: 0 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Nunito Sans; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    color: #FFFFFFFF; /* white */
    background: #EB7623FF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
  }

  /* Hover */
  .button:hover {
    color: #FFFFFFFF; /* white */
    background: #C45C12FF; /* primary-600 */
  }
  /* Pressed */
  .button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #AA5010FF; /* primary-650 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }


  /*descript*/
  .textarea {
    position: absolute; 
    top: 430px; 
    left: 577px; 
    opacity: 1; 
  }
  .textarea textarea {
    width: 261px; 
    height: 105px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    padding-left: 18px; 
    padding-right: 18px; 
    font-size: 18px; 
    line-height: 28px; 
    color: #BDC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
    border-radius: 6px; /* border-m */
    border-width: 1px; 
    border-color: #9095A1FF; /* neutral-500 */
  }
  .textarea .label {
    font-size: 18px; 
    line-height: 28px; 
  }
  /* hover */
  .textarea textarea:hover {
    background: #FFFFFFFF; /* white */
    border-color: #6F7787FF; /* neutral-550 */
  }
  /* focused */
  .textarea textarea:focused {
    background: #FFFFFFFF; /* white */
    border-color: #9095A1FF; /* neutral-500 */
    box-shadow: 0px 0px 5px #9095a1; 
  }
  /* disabled */
  .textarea textarea:disabled {
    color: #171A1FFF; /* neutral-900 */
    background: #FFFFFFFF; /* white */
    border-color: #9095A1FF; /* neutral-500 */
  }

/* Container 5235 */
.container5235 {
  position: absolute;
    top: 220px;
    left: 80px;
    width: 980px;
    height: 700px;
    background: #FFFFFFFF;
    border-radius: 15px;
    box-shadow: 3px 6px #008000;
    border: 2px solid #008000;
}

/* Container 5238 */
.container5238 {
  position: absolute; 
  top: 16px; 
  left: 43px; 
  width: 263px; 
  height: 168px; 
  background: #FEF1F1FF; /* tertiary1-100 */
  border-radius: 12px; /* border-xl */
}
/* Text 16847 */
.text16847 {
  position: absolute; 
  top: 28px; 
  left: 18px; 
  width: 175px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #323743FF; /* neutral-700 */
}
/* Container 5239 */
.container5239 {
  position: absolute; 
  top: 18px; 
  left: 193px; 
  width: 52px; 
  height: 52px; 
  background: #F06A6AFF; /* tertiary1-500 */
  border-radius: 8px; /* border-l */
  box-shadow: 0px 0px 1px #F06A6A, 0px 0px 2px #F06A6A; /* shadow-xs */
}
/* Play arrow 1 */
.iconplay {
  position: absolute; 
  top: 14px; 
  left: 14px; 
  width: 24px; 
  height: 24px; 
  fill: #FFFFFFFF; /* white */
}
/* Text 16848 */
.text16848 {
  position: absolute; 
  top: 76px; 
  left: 18px; 
  font-family: Poppins; /* Heading */
  font-size: 32px; 
  line-height: 48px; 
  color: #F06A6AFF; /* tertiary1-500 */
}
/* Container 5240 */
.container5240 {
  position: absolute; 
  top: 22px; 
  left: 349px; 
  width: 263px; 
  height: 168px; 
  background: #EFFCFDFF; /* tertiary3-100 */
  border-radius: 12px; /* border-xl */
}
/* Text 16850 */
.text16850 {
  position: absolute; 
  top: 28px; 
  left: 18px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #323743FF; /* neutral-700 */
}
/* Container 5241 */
.container5241 {
  position: absolute; 
  top: 18px; 
  left: 193px; 
  width: 52px; 
  height: 52px; 
  background: #24DAEBFF; /* tertiary3-500 */
  border-radius: 8px; /* border-l */
  box-shadow: 0px 0px 1px #24DAEB, 0px 0px 2px #24DAEB; /* shadow-xs */
}
/* Check circle 1 */
.iconcheck {
  position: absolute; 
  top: 14px; 
  left: 14px; 
  width: 24px; 
  height: 24px; 
  fill: #FFFFFFFF; /* white */
}
/* Text 16851 */
.text16851 {
  position: absolute; 
  top: 76px; 
  left: 18px; 
  font-family: Poppins; /* Heading */
  font-size: 32px; 
  line-height: 48px; 
  color: #24DAEBFF; /* tertiary3-500 */
}
/* Container 5349 */
.container5349 {
  position: absolute; 
  top: 22px; 
  left: 646px; 
  width: 263px; 
  height: 168px; 
  background: #98EB24FF; /* tertiary2-500 */
  border-radius: 12px; /* border-xl */
}
/* Text 17191 */
.text17191 {
  position: absolute; 
  top: 28px; 
  left: 18px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #323743FF; /* neutral-700 */
}
/* Container 5350 */
.container5350 {
  position: absolute; 
  top: 18px; 
  left: 193px; 
  width: 52px; 
  height: 52px; 
  background: #568A0DD4; /* tertiary2-700 */
  border-radius: 8px; /* border-l */
  box-shadow: 0px 0px 1px #568a0d, 0px 0px 2px #568a0d; /* shadow-xs */
}
/* Check circle 2 */
.iconwork {
  position: absolute; 
  top: 14px; 
  left: 14px; 
  width: 24px; 
  height: 24px; 
  fill: #FFFFFFFF; /* white */
}
/* Text 17192 */
.text17192 {
  position: absolute; 
  top: 76px; 
  left: 18px; 
  font-family: Poppins; /* Heading */
  font-size: 32px; 
  line-height: 48px; 
  color: #67A50FFF; /* tertiary2-650 */
}
/* Button group 2 */
.button-group {
  position: absolute; 
  top: 254px; 
  left: 43px; 
  display: flex; 
  align-items: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border-radius: 18px; 
}
/* Button group item 1 */
.button-group .button-group-item:nth-child(1) {
  position: relative; 
  width: 99px; 
  height: 36px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: center; 
  font-size: 14px; 
  color: #FFFFFFFF; /* white */
  background: #EB7623FF; /* primary-500 */
  opacity: 1; 
  border-radius: 18px 18px 18px 18px; 
  cursor: pointer; 
}
/* Button group item 1 - Hover */
.button-group .button-group-item:nth-child(1):hover {
  color: #EB7623FF; /* primary-500 */
  background: #FBE6D7FF; /* primary-150 */
}
/* Button group item 1 - Selected */
.button-group .button-group-item:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #EB7623FF; /* primary-500 */
}
/* Button group item 1 - Disabled */
.button-group .button-group-item:nth-child(1):disabled {
  color: #EB7623FF; /* primary-500 */
  background: #FFFFFFFF; /* white */
  opacity: 0.4; 
}
/* Button group item 2 */
.button-group .button-group-item:nth-child(2) {
  position: relative; 
  width: 99px; 
  height: 36px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: center; 
  font-size: 14px; 
  color: #EB7623FF; /* primary-500 */
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border-radius: 18px 18px 18px 18px; 
  cursor: pointer; 
}
/* Button group item 2 - Hover */
.button-group .button-group-item:nth-child(2):hover {
  color: #EB7623FF; /* primary-500 */
  background: #FBE6D7FF; /* primary-150 */
}
/* Button group item 2 - Selected */
.button-group .button-group-item:nth-child(2):hover:active {
  color: #FFFFFFFF; /* white */
  background: #EB7623FF; /* primary-500 */
}
/* Button group item 2 - Disabled */
.button-group .button-group-item:nth-child(2):disabled {
  color: #EB7623FF; /* primary-500 */
  background: #FFFFFFFF; /* white */
  opacity: 0.4; 
}
/* Button 2431 */
.button2431 {
  position: absolute; 
  top: 254px; 
  left: 728px; 
  height: 36px; 
  padding: 0 14px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #565D6DFF; /* neutral-600 */
  background: #F3F4F6FF; /* neutral-200 */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
  gap: 8px; 
}
.button2431 .icon {
  width: 16px; 
  height: 16px; 
  fill: #565D6DFF; /* neutral-600 */
}
/* Hover */
.button2431:hover {
  color: #565D6DFF; /* neutral-600 */
  background: #DEE1E6FF; /* neutral-300 */
}
/* Pressed */
.button2431:hover:active {
  color: #565D6DFF; /* neutral-600 */
  background: #CFD2DAFF; /* neutral-350 */
}
/* Disabled */
.button2431:disabled {
  opacity: 0.4; 
}
/* Button 2431 */
.selectsort {
  position: absolute; 
  top: 254px; 
  left: 728px; 
  height: 36px; 
  padding: 0 14px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #565D6DFF; /* neutral-600 */
  background: #F3F4F6FF; /* neutral-200 */
  opacity: 1; 
  border: 5px; 
  border-radius: 6px; /* border-m */
  border-color: purple;
  gap: 8px; 
}
/* Container 5242 */
.container5242 {
  position: absolute; 
  top: 324px; 
  left: 43px; 
  width: 846px; 
  height: 43px; 
  background: #F8F9FAFF; /* neutral-150 */
  border-radius: 0px; 
}



/* Container 5243 */
.container5243 {
  position: absolute; 
  top: 330px; 
  left: 43px; 
  width: 846px; 
  height: 92px; 
  background: #FFFFFFFF; /* white */
  border-radius: 0px; 
  border-width: 1px; 
  border-color: #F3F4F6FF; /* neutral-200 */
  border-style: solid; 
}
tr{
    vertical-align: bottom;
    height: 45px;
}
tr:first-child{
    color: orange;
    height: 30px;
}
/* Text 16859 */
.text16859 {
  position: absolute; 
  top: 34px; 
  left: 32px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #171A1FFF; /* neutral-900 */
}
/* Text 17230 */
.text17230 {
  position: absolute; 
  top: 31px; 
  left: 196px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #171A1FFF; /* neutral-900 */
}
/* Text 17168 */
.text17168 {
  position: absolute; 
  top: 31px; 
  left: 333px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #171A1FFF; /* neutral-900 */
}
/* Text 16860 */
.text16860 {
  position: absolute; 
  top: 34px; 
  left: 430px; 
  font-family: Nunito Sans; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  color: #323743FF; /* neutral-700 */
}
/* Text 16858 */
.text16858 {
  position: absolute; 
  top: 31px; 
  left: 659px; 
  font-family: Nunito Sans; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  color: #EB7623FF; /* primary-500 */
}
/* Text 17169 */
.text17169 {
  position: absolute; 
  top: 28px; 
  left: 748px; 
  font-family: Nunito Sans; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #171A1FFF; /* neutral-900 */
}