* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
}

i {
    margin-left: 1px;
    margin-right: 4px;
}

body {
    background-image: url("../image/background.jpg");
}

.khoi1 {
    width: 100%;
    height: 868px;
    background-color: #DEE1E6FF;
}

.khoi2 {
    width: 100%;
    height: 868px;
    background-color: #f0f2f5;
}

.dau {
    margin-top: 80px;
}

.hang {
    background-color: #008000;
    width: 100%;
    height: 100px;
}

.header {
    background-color: #008000;
    margin-top: 30px;
    height: 100px;
}

.text16 {
    color: white;
    font-size: 24px;
    line-height: 4;
    font-weight: 600;
}

.text17 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    text-align: right;
}

.text17 .username {
    margin-right: 70px;
}

.text17 .bt2 {
    margin-right: 58px;
}

.bt1:focus,
.bt2:focus {
    outline: none;
}

.text17 .bt1:hover,
.text17 .bt2:hover {
    background-color: white;
    color: #008000;
}

.text17 .bt1,
.text17 .bt2 {
    padding-left: 5px;
    height: 30px;
    color: white;
    background-color: #008000;
    border: 1px solid white;
}

.img-fluid {
    text-align: justify;
    padding: 25px;
    border-radius: 50px;
}

.row .hang {
    font-size: 18px;
    cursor: pointer;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 5.5;
}

.row .hang:hover {
    background-color: white;
    color: #008000;
}


.main {
    margin: 10px 20px 0 -15px;
    height: 679px;
}


.show {
    padding-left: 50px;
    display: inline;
}

.show i {
    margin-right: 10px;
}

.not-show {
    display: none;
}


.item {
    display: none;
}

.img-foo {
    left: 100px;
    position: absolute;
    width: 120px;
    height: 120px;
}

.col-sm-3 i {
    font-size: large;
    padding-right: 10px;
}

.footer .col-sm-3:nth-child(3) {
    padding-left: 70px;
}

.footer {
    padding: 20px 0 0 25px;
    cursor: pointer;
    color: white;
    height: 100px;
    background-color: #008000;
}

.col-sm-6 h6 {
    padding-bottom: 10px;
}

.modall {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modall-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modall-body {
    width: 500px;
    height: 850px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.img-modall {
    padding: 0;
    width: 200px;
    margin-left: 165px;
    margin-top: 30px;
    border-radius: 100px;
    border: 5px solid lightgreen;
}

.form {
    margin-left: 130px;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
}

.info {
    border: 1px solid #DEE1E6FF;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
}

.form label {
    margin-top: 5px;
    font-size: 18px;
}

.form input {
    width: 45%;
}

.btn-success {
    width: 90px;
    margin-left: 37px;
}

.btn-secondary {
    width: 90px;
    height: 40px;
    margin-left: 157px;
}