/* Create account */
body {
    margin: 0;
    padding: 0;
}

.page {
    margin-left: 210px;
    padding: 0;
    width: 1500px;
    height: 965px;
    background: #DEE1E6FF;
}

/* Image 2338 */
.image {
    position: absolute;
    top: 30px;
    left: 250px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}


.icon1 {
    position: absolute;
    top: 350px;
    left: 310px;
    width: 60px;
    height: 60px;
    fill: #008000;
    /* secondary-500 */
}

/* Rectangle 220 */
.rectangle {
    position: absolute;
    top: 420px;
    left: 300px;
    width: 80px;
    height: 5px;
    background: #008000;
    /* secondary-500 */
    border-radius: 4px;
    /* border-m */
}

/* Text 13886 */
.text13886 {
    position: absolute;
    top: 280px;
    left: 450px;
    width: 476px;
    font-family: Arial;
    /* Heading */
    font-size: 40px;
    line-height: 56px;
    color: #323743FF;
    /* neutral-700 */
}

.text1 {
    position: absolute;
    top: 280px;
    left: 500px;
    width: 476px;
    font-family: Arial;
    /* Heading */
    font-size: 40px;
    line-height: 56px;
    color: #323743FF;
    /* neutral-700 */
}

/* Text 13887 */
.text13887 {
    position: absolute;
    top: 400px;
    left: 470px;
    width: 420px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 20px;
    line-height: 30px;
    color: #323743FF;
    /* neutral-700 */
}

/* Wb sunny 1 */
.sunny1 {
    position: absolute;
    top: 335px;
    left: 750px;
    width: 48px;
    height: 48px;
    fill: #008000;
    /* primary-500 */
}

/* Wb sunny 1 */
.icon {
    position: absolute;
    top: 301px;
    left: 543px;
    width: 48px;
    height: 48px;
    fill: #EB7623FF;
    /* primary-500 */
}

/* Container 4461 */
.container4461 {
    padding: 20px;
    position: absolute;
    top: 110px;
    left: 980px;
    width: 500px;
    height: 700px;
    background: #FFFFFFFF;
    /* white */
    border-radius: 25px;
    /* border-m */
    border-width: 2px;
    border-color: #009900;
    /* secondary-400 */
    border-style: solid;
}

/* Text 13884 */
.text13884 {
    position: absolute;
    top: 30px;
    left: 180px;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* Heading */
    font-size: 32px;
    line-height: 48px;
    color: #171A1FFF;
    /* neutral-900 */
}

/* Textbox 705 */
.textbox705 {
    position: absolute;
    top: 150px;
    left: 66px;
    opacity: 1;
}

.textbox703 {
    position: absolute;
    top: 260px;
    left: 66px;
    opacity: 1;
}

.textbox702 {
    position: absolute;
    top: 340px;
    left: 66px;
    opacity: 1;
}

.textbox705 input {
    width: 360px;
    height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 18px;
    background: #F3F4F6FF;
    /* neutral-200 */
    border-radius: 6px;
    /* border-m */
    border-width: 0px;
    outline: none;
}

.textbox703 input {
    width: 360px;
    height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 18px;
    background: #F3F4F6FF;
    /* neutral-200 */
    border-radius: 6px;
    /* border-m */
    border-width: 0px;
    outline: none;
}

::placeholder {
    color: #9095A1;
    font-family: Arial, Helvetica, sans-serif;
}

/* Textbox 704 */
.textbox704 {
    position: absolute;
    top: 170px;
    left: 66px;
    opacity: 1;
}

.textbox704 input {
    width: 360px;
    height: 50px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 18px;
    background: #F3F4F6FF;
    /* neutral-200 */
    border-radius: 6px;
    /* border-m */
    border-width: 0px;
    outline: none;
}

.textbox704 .label {
    font-size: 14px;
    line-height: 22px;
}

/* hover */
.textbox704 input:hover {
    color: #171A1FFF;
    /* neutral-900 */
    background: #F3F4F6FF;
    /* neutral-200 */
}

/* focused */
.textbox704 input:focused {
    color: #171A1FFF;
    /* neutral-900 */
    background: #FFFFFFFF;
    /* white */
}

/* disabled */
.textbox704 input:disabled {
    color: #171A1FFF;
    /* neutral-900 */
    background: #F3F4F6FF;
    /* neutral-200 */
}

.textbox704:disabled+.icon,
.textbox704 :disabled+.icon+.icon {
    fill: #171A1FFF;
    /* neutral-900 */
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #008000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Button 1957 */
.button1957 {
    position: absolute;
    top: 450px;
    left: 66px;
    width: 385px;
    height: 44px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFFF;
    /* white */
    background: #008000;
    /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 6px;
}

/* Hover */
.button1957:hover {
    color: #FFFFFFFF;
    /* white */
    background: #00EE00;
    /* primary-600 */
}

/* Pressed */
.button1957:hover:active {
    color: #FFFFFFFF;
    /* white */
    background: #008000;
    /* primary-650 */
}

/* Disabled */
.button1957:disabled {
    opacity: 0.4;
}

.container4462 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 500px;
    left: 113px;
    padding: 0;
}

/* Text 13885 */
.text13885 {
    position: relative;
    top: 30px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 15px;
    line-height: 22px;
    /* neutral-700 */
}

/* Button 1960 */
.button1960 {
    position: relative;
    top: 40px;
    left: 5px;
    width: 81px;
    height: 36px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C71610FF;
    background: #FEF1F1FF;
    opacity: 1;
    border: none;
    border-radius: 18px;
    gap: 8px;
    border: 1px solid #DDDDDD;
}

.button1960 .iconG {
    width: 16px;
    height: 16px;
    fill: #C71610FF;
}

/* Hover */
.button1960:hover {
    color: #C71610FF;
    background: #FBD2D0FF;
}

/* Pressed */
.button1960:hover:active {
    color: #C71610FF;
    background: #F9B2B0FF;
}

/* Disabled */
.button1960:disabled {
    opacity: 0.4;
}

/* Button 1958 */
.button1958 {
    position: relative;
    top: 5px;
    left: 105px;
    width: 81px;
    height: 36px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #335CA6FF;
    background: #F3F6FBFF;
    opacity: 1;
    border: none;
    border-radius: 18px;
    gap: 8px;
    border: 1px solid #DDDDDD;
}

.button1958 .iconF {
    width: 16px;
    height: 16px;
    fill: #335CA6FF;
}

/* Hover */
.button1958:hover {
    color: #335CA6FF;
    background: #D9E2F3FF;
}

/* Pressed */
.button1958:hover:active {
    color: #335CA6FF;
    background: #BFCEEBFF;
}

/* Disabled */
.button1958:disabled {
    opacity: 0.4;
}

/* Button 1959 */
.button1959 {
    position: relative;
    top: -30.5px;
    left: 205px;
    width: 78px;
    height: 36px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565D6DFF;
    /* neutral-600 */
    background: #F3F4F6FF;
    /* neutral-200 */
    opacity: 1;
    border: none;
    border-radius: 18px;
    gap: 8px;
    border: 1px solid #DDDDDD;
}

.button1959 .iconA {
    width: 16px;
    height: 16px;
    fill: #565D6DFF;
    /* neutral-600 */
}

/* Hover */
.button1959:hover {
    color: #565D6DFF;
    /* neutral-600 */
    background: #DEE1E6FF;
    /* neutral-300 */
}

/* Pressed */
.button1959:hover:active {
    color: #565D6DFF;
    /* neutral-600 */
    background: #CFD2DAFF;
    /* neutral-350 */
}

/* Disabled */
.button1959:disabled {
    opacity: 0.4;
}

/* Text 13837 */
.text13837 {
    position: absolute;
    top: 150px;
    left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    /* Body */
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* neutral-700 */
}

/* Color link */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #008000;
}